<div class="container">
<p id="notice"><%= notice %></p>

<h1>Authorbooks</h1>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a href="http://127.0.0.1:3000/stores" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Store</a>
  </li>
  <li class="nav-item">
    <a href="http://127.0.0.1:3000/authors" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Author</a>
  </li>
  <li class="nav-item">
    <a href="http://127.0.0.1:3000/books" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Book</a>
  </li>
  <li class="nav-item">
    <a href="http://127.0.0.1:3000/authorbooks" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Author-book</a>
  </li>
</ul>
<table class="table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorbooks.each do |authorbook| %>
      <tr>
        <td><%= authorbook.author.name %></td>
        <td><%= authorbook.book.title %></td>
        <td><%= link_to 'Show', authorbook %></td>
        <td><%= link_to 'Edit', edit_authorbook_path(authorbook) %></td>
        <td><%= link_to 'Destroy', authorbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorbook', new_authorbook_path %>
</div>